*.pvd
*.vtu
*.h5
*.xdmf
*.npz
BackwardEuler/__pycache__/FOM.cpython-311.pyc
BackwardEuler/__pycache__/ROM.cpython-311.pyc
BackwardEuler/FOM.png
BackwardEuler/ROM.png
.vscode/settings.json
BackwardEuler/__pycache__/iROM.cpython-311.pyc
*.svg
*.eps
.vscode/launch.json
BackwardEuler/run-fencis.err.0
BackwardEuler/run-fencis.log
BackwardEuler/run-fencis.out.0
run-fencis.*
