*.pvd
*.vtu
*.h5
*.xdmf
*.npz
*.pyc
BackwardEuler/FOM.png
BackwardEuler/ROM.png
.vscode/settings.json
*.svg
*.eps
.vscode/launch.json
BackwardEuler/run-fencis.err.0
BackwardEuler/run-fencis.log
BackwardEuler/run-fencis.out.0
run-fencis.*
BackwardEuler/test_yaml.py
*.pkl
BackwardEuler/config/config_short_jacobi.yaml
BackwardEuler/config/config_short_AMG_SA.yaml
BackwardEuler/config/config_short_AMG_RS.yaml
BackwardEuler/config/config_footing_no_extra_dual_enrichment.yaml
